.layout {
    background: url('../../images/background.jpg') no-repeat;
    background-size: cover;

    h1 {
        color: white;
        font-size: 40px;
        text-transform: uppercase;
    }

    .content {
        margin: auto;
        max-width: 600px;
    }

}

.page-container {
    position: relative;
    min-height: 100vh;

    .content-wrap {
        /* room for the sticky footer */
        padding-bottom: 80px;
    }
}