@import '../../styles/colors.scss';

footer {
  background-color: $primary;
  bottom: 0;
  display: flex;
  align-items: center;
  color: WHITE;
  font-size: 13px;
  height: 80px;
  justify-content: space-around;
  position: relative;
  width: 100%;
}